<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="My Restaurants" />
    <meta name="theme-color" content="#D2E3C8" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-128x128.png">
    <link rel="icon" href="./favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>The Tasty Touch</title>
</head>

<body>
    <a href="#mainContent" class="skip-link"> Skip To Content</a>
    <header class="nav">
        <div>
            <span class="logo"><i class="fa-solid fa-utensils"></i></span>
        </div>
        <nav>
            <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="#/about">About US</a></li>
                <button id="hamburgerButton" class="toggle-btn">
                    <!-- <i class="fa-solid fa-bars"></i> -->
                    ☰
                </button>
            </ul>
        </nav>
        <div id="navigationDrawer" class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="#/about">About US</a></li>
        </div>
    </header>

    <main id="mainContent">
    <!-- Content  -->
    </main>

    <footer>
        <div class="footer">
            <h5>&copy 2024 All Rights Reserved My Restaurant | Firman Hidayatullah </h5>
        </div>
    </footer>

</body>

</html>